[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/nazarlviv07
[access "refs/for/refs/*"]
	read = group user/nazarlviv07
	push = group user/nazarlviv07
	label-Code-Review = -2..+2 group user/nazarlviv07
	label-Verified = -1..+1 group user/nazarlviv07
	rebase = group user/nazarlviv07
	removeReviewer = group user/nazarlviv07
	submit = group user/nazarlviv07
[access "refs/heads/*"]
	read = group user/nazarlviv07
	create = group user/nazarlviv07
	push = +force group user/nazarlviv07
	pushMerge = group user/nazarlviv07
[access "refs/tags/*"]
	push = group user/nazarlviv07
	push = +force group user/nazarlviv07
